@font-face {
	font-family: 'Karla', sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Karla") format("opentype");
	font-weight: 300; 
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'Karla', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title {
	margin: auto;
	text-align: center;
}

footer {
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

a {
	color: rgb(166,166,166);
}
